natsort
pyyaml
xmltodict
ujson
numpy
imageio
sklearn
scipy

opencv-python
opencv-contrib-python
#tensorflow
tensorpack
git+https://github.com/seveas/python-prctl.git#egg=python-prctl

youtube-dl

pytest
pytest-cov
pytest-datafiles
pylint
coverage
